<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:replace="~{layout :: layout(~{::main})}">

    <main>
        <h2>Chi tiết Sinh viên</h2>

        <!-- Nếu có student -->
        <div th:if="${student != null}" 
             style="background: #f4f4f4; padding: 15px; border-radius: 5px;">

            <p><strong>ID:</strong> 
                <span th:text="${student.id}"></span>
            </p>

            <p><strong>Name:</strong> 
                <span th:text="${student.name}"></span>
            </p>

            <p><strong>Group ID:</strong> 
                <span th:text="${student.groupId}"></span>
            </p>
        </div>

        <!-- Nếu không có -->
        <div th:if="${student == null}">
            <p style="color: red;">Không tìm thấy sinh viên!</p>
        </div>

        <br>

        <a th:href="@{/student/all}">
            <button>Quay lại danh sách</button>
        </a>

    </main>

</div>

</body>
</html>