<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:replace="~{layout :: layout(~{::main})}">

    <main>
        <h2>Danh sách Sinh viên</h2>

        <table border="1" width="100%" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Group ID</th>
                <th>Hành động</th>
            </tr>

            <tr th:each="s : ${students}">
                <td th:text="${s.id}"></td>
                <td th:text="${s.name}"></td>
                <td th:text="${s.groupId}"></td>

                <td>
                    <a th:href="@{'/student/view/' + ${s.id}}">[view]</a>
                    <a th:href="@{'/student/edit/' + ${s.id}}">[edit]</a>
                    <a th:href="@{'/student/delete/' + ${s.id}}"
                       onclick="return confirm('Bạn có chắc muốn xóa?')">[delete]</a>
                </td>
            </tr>
        </table>

    </main>

</div>

</body>
</html>