<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Topic Detail</title>
</head>
<body>

<h2>Topic Detail</h2>

<p>Id: <span th:text="${topic.id}"></span></p>

<p>Name: <span th:text="${topic.topicName}"></span></p>

<p>Description: <span th:text="${topic.topicDescription}"></span></p>

<p>Supervisor Id: <span th:text="${topic.supervisorId}"></span></p>

<p>Topic Type: <span th:text="${topic.topicType}"></span></p>

<br>

<a href="/topic/all">Back</a>

</body>
</html>