<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:replace="~{layout :: layout(~{::main})}">

    <main>
        <h2>Danh sách Topics</h2>

        <table border="1" width="100%" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Topic Name</th>
                <th>Description</th>
                <th>Supervisor</th>
                <th>Type</th>
                <th>Hành động</th>
            </tr>

            <tr th:each="t : ${topics}">
                <td th:text="${t.id}"></td>
                <td th:text="${t.topicName}"></td>
                <td th:text="${t.topicDescription}"></td>
                <td th:text="${t.supervisorId}"></td>
                <td th:text="${t.topicType}"></td>

                <td>
                    <a th:href="@{'/topic/view/' + ${t.id}}">[view]</a>
                    <a th:href="@{'/topic/edit/' + ${t.id}}">[edit]</a>
                    <a th:href="@{'/topic/delete/' + ${t.id}}"
                       onclick="return confirm('Bạn có chắc muốn xóa?')">[delete]</a>
                </td>
            </tr>
        </table>

    </main>

</div>

</body>
</html>