<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>



    <main>
        <div class="card" style="padding:30px;">
            
            <h2>Hệ thống Quản lý Đề tài & Sinh viên</h2>

            <p><strong>Họ và tên:</strong>Khiêm</p>
            <p><strong>Mã SV:</strong> 65131478</p>

            <hr style="margin:20px 0">

            <p><strong>Chức năng:</strong></p>
            <ul>
                <li> Quản lý Topic (Đề tài)</li>
                <li> Quản lý Student (Sinh viên)</li>
            </ul>

            <hr style="margin:20px 0">


            <div style="margin-top:20px;">
                <a href="/topic/all">➡️ Vào Topic</a> |
                <a href="/student/all">➡️ Vào Student</a>
            </div>

        </div>
    </main>


</body>
</html>