<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CMS Dashboard</title>
    <style>
        .container { display: flex; }
        .sidebar { width: 200px; border-right: 1px solid black; padding: 10px; }
        .content { flex-grow: 1; padding: 20px; }
        header, footer { border: 1px solid black; padding: 10px; text-align: center; }
    </style>
</head>
<body>
    <header>
        Logo KHOA CÔNG NGHỆ THÔNG TIN <span style="float:right">[UserName]</span>
    </header>
    
    <div class="container">
        <div class="sidebar">
            <h3>Dashboard</h3>
            <ul>
                <li><a th:href="@{/page/all}">Page - List</a></li>
                <li><a th:href="@{/page/new}">Page - Addnew</a></li>
                <li><a th:href="@{/post/all}">Post - List</a></li>
                <li><a th:href="@{/post/new}">Post - Addnew</a></li>
            </ul>
        </div>
        
        <div class="content" layout:fragment="content">
            </div>
    </div>

    <footer>
        ©2025 by Student Name - FIT.NTU
    </footer>
</body>
</html>