<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::main})}">
<head>
    <title>Danh sách Page</title>
</head>
<body>
    
    <main>
        <h2>Danh sách các Page</h2>
        <a th:href="@{/page/new}">+ Thêm mới Page</a>
        <br><br>
        <table border="1" width="100%" cellpadding="5">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Pagename</th>
                    <th>parentPageId</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${pages}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.pageName}"></td>
                    <td th:text="${p.parentPageId}"></td>
                    <td>
                        <a th:href="@{/page/view/{id}(id=${p.id})}">[view]</a>
                        <a href="#">[edit]</a>
                        <a th:href="@{/page/delete/{id}(id=${p.id})}" onclick="return confirm('Bạn có chắc chắn xóa?');">[delete]</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

</body>
</html>